<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Student page</title>
<body>



<form th:method="POST" th:action="@{/saveStudent/{compId}(compId=${compId})}" th:object="${newStudent}">
    <div class="mb-3">
        <label for="firstName" class="form-label">First name</label>
        <input type="text" class="form-control" id="firstName" aria-describedby="emailHelp" th:field="*{firstName}">
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">Last name</label>
        <input type="text" class="form-control" id="lastName" th:field="*{lastName}">
    </div>
    <div class="mb-3">
        <label for="phoneNumber" class="form-label">Phone number</label>
        <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" th:field="*{email}">
    </div>
    <div class="mb-3">
        <label for="studyFormat" class="form-label">Study format</label>
        <input type="text" class="form-control" id="studyFormat" th:field="*{studyFormat}">
    </div>

    <button type="submit" class="btn btn-success">SAVE</button>
</form>



</body>
</html>