<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Lesson Page</title>

</head>
<body>

<form th:method="POST" th:action="@{/saveLesson/{courseId}(courseId=${courseId})}" th:object="${newLesson}">
    <div class="mb-3">
        <label for="lessonName" class="form-label">Lesson name</label>
        <input type="text" class="form-control" id="lessonName" aria-describedby="emailHelp" th:field="*{lessonName}">
    </div>


    <button type="submit" class="btn btn-success">SAVE</button>
</form>
</body>
</html>